body{
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    position: relative;
    background-color: #CCCCCC;
    color: #072B61;
}
header img{
    margin: 20px auto;
}

main {
    width: 940px;
    display: flex;
    margin: 30px auto;
}
.input-box, .mensaje-box{
    width: 45%;
    display: inline-block;
}

textarea{
    height: 400px;
    border: none;
    border-radius: 15px;
    padding: 15px;
}
button{
    color: #072B61;
    font-size: 15px;
    width: 45%;
    border-radius: 5px;
    border: none;
    display: flex;
    padding: 10px;
    transition: 1s;
}
.informacion{
    margin: 10px 5%;
    width: 80%;
    padding-left: 10px;
    font-weight: bold;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 10px 5%;
}
.encriptar, .desencriptar{
    justify-content: center;
}

.input-texto,.mensaje{
    width: 80%;
    margin: 0 5%
}

.mensaje{
    background-image: url(Muñeco.png);
    background-repeat: no-repeat;
    background-position: 18px;
}
.copiar{
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 10px auto;
}

button:hover{
    background-color: #072B61;
    color: #CCCCCC;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: #072B61;
    color: #CCCCCC;
    padding: 40px;
}

/* hacer transparente el focus del mensaje copiado */
input.mensaje:focus{
    outline: none;
}
input.mensaje::-moz-selection{
    background-color: transparent;
}
input.mensaje::selection{
    background-color: transparent;
}